<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Sistema Cadastro de Funcionarios</title>

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">

</head>

<body>

<div class="container">
		<h1>Employee Management System</h1>
		<hr>
		<h2>Atualizar informações do Funcinário</h2>
		
		<form action="#" th:action="@{/salvarFuncionario}" th:object="${funcionarioAtualizadoObj}" method="POST">
		
		<!-- Add hidden form field to handle update -->
			<input type="hidden" th:field="*{id}" />
			
			<input type="text" th:field = "*{nome}">
			 
			 <input type="text" th:field = "*{sobreNome}">
			 
			 <input type="text" th:field = "*{email}">		
			 
			 <button type="submit" class="btn btn-info col-2">Atualizar Funcionário</button>	
		</form>
		
		<hr>
		
		<a th:href="@{/}"> Voltar para lista de funcionários</a>
	</div>


</body>
</html>
