<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<title>Sistema Cadastro de Funcionarios </title>
 
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">

</head>

<body>
	<div class="container my-2">
	<h1>Lista de Funcionarios</h1>
	<a th:href = "@{/mostrarFormNovoFuncionario}" class="btn btn-primary btn-sm mb-3">Add Funcionario</a>
		<table border="1" class = "table table-striped table-responsive-md">
			<thead>
				<tr>
					<th>Nome do Funcionário</th>
					<th>Sobre-nome do Funcionário</th>
					<th>Email do Funcionário</th>		
					<th>Ação</th>			
				</tr>
			</thead>
			<tbody>
				<tr th:each="funcionarioObjForm : ${listaFuncionariosObj}">
					<td th:text="${funcionarioObjForm.nome}"></td>
					<td th:text="${funcionarioObjForm.sobreNome}"></td>
					<td th:text="${funcionarioObjForm.email}"></td>
					<td> <a th:href="@{/mostrarFormAtualizado/{id}(id=${funcionarioObjForm.id})}" class="btn btn-primary">Atualizar</a>
						 <a th:href="@{/deletarFuncionario/{id}(id=${funcionarioObjForm.id})}" class="btn btn-danger">Excluir</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>